# Comparison Data types
## String and Print

In [1]:
a = 100

In [4]:
b = 200
c = 100

In [18]:
a == c

True

In [19]:
b < c

False

In [20]:
c <= a

True

In [81]:
(200 < 100) and (100 > 200)

False

In [82]:
(200 > 100) and (100 < 200)

True

In [83]:
(200 == 100) or (100 == 200)

False

In [90]:
(100 == 100) or (200 != 100)

True

## String

In [7]:
my_str = "Test MY UPPER string"

In [8]:
my_lowStr = my_str.lower()

In [9]:
my_lowStr

'test my upper string'

In [10]:
my_UpperStr = my_str.upper()

In [11]:
my_UpperStr

'TEST MY UPPER STRING'

In [12]:
my_str = "  Test MY UPPER string"

In [13]:
my_strStrp = my_str.strip()

In [14]:
my_strStrp

'Test MY UPPER string'

In [15]:
my_str = "  Test MY UPPER string"

In [16]:
my_lstrp = my_str.lstrip()

In [17]:
my_lstrp

'Test MY UPPER string'

In [27]:
my_str1 = 'String starts with'

In [33]:
my_str1.startswith('starts')

False

In [34]:
my_str1.endswith('with')

True

In [35]:
my_str = "Can you please split the score: 45, 55"

In [36]:
my_str

'Can you please split the score: 45, 55'

In [37]:
my_str2 = my_str.split(" ")

In [38]:
my_str2

['Can', 'you', 'please', 'split', 'the', 'score:', '45,', '55']

In [39]:
type(my_str2)

list

In [40]:
my_str

'Can you please split the score: 45, 55'

In [41]:
my_strSplit = my_str.split('split')

In [42]:
my_strSplit

['Can you please ', ' the score: 45, 55']

In [43]:
my_str = "Can you please split the score: 45, 55"

In [50]:
my_strCenter = my_str.center(1)

In [51]:
my_strCenter

'Can you please split the score: 45, 55'

In [59]:
string = "Python is greate prog language"

In [60]:
new_string = string.center(26, *)

SyntaxError: invalid syntax (<ipython-input-60-fa4180358857>, line 1)

In [63]:
new_string = string.center(30)

In [64]:
new_string

'Python is greate prog language'

## Print

In [66]:
std_id = 240
name = 'Anuj'

In [71]:
print('My student id is:{}, and my name is:{}'.format(std_id, name))

My student id is:240, and my name is:Anuj

In [77]:
print('My student id is:{1}, and my name is:{0}'.format(std_id, name))

My student id is:Anuj, and my name is:240