# lists 
## Examples: append, clear, copy, count, extend, index, insert, pop, remove, reverse, sort

In [9]:
my_list1 = [100, 200, 250, 275, 200, 300, 500]       #int list
my_list2 = [50, 'Anuj', 'id', 203, 1, 2, 3, 5.5]     #mixed datatypes
my_list3 = ['Anuj', [2, 2, 5], ['hello']]            #nested list

In [10]:
my_list1.append('integers')    #add the value to the end

In [11]:
my_list1

[100, 200, 250, 275, 200, 300, 500, 'integers']

In [16]:
my_list1.clear()              #clear the list

In [17]:
my_list1

[]

In [18]:
my_list1 = [100, 200, 250, 275, 200, 300, 500]

In [20]:
new_list1 = my_list1        #copy the list

In [21]:
new_list1

[100, 200, 250, 275, 200, 300, 500]

In [22]:
new_list1.append('integers')

In [23]:
new_list1

[100, 200, 250, 275, 200, 300, 500, 'integers']

In [32]:
my_list1.count(200)      #count the element appearnce in the list

2

In [33]:
my_list1.extend(my_list2)  #extend the list

In [34]:
my_list1

[100,
 200,
 250,
 275,
 200,
 300,
 500,
 'integers',
 50,
 'Anuj',
 'id',
 203,
 1,
 2,
 3,
 5.5]

In [35]:
my_list1 = [100, 200, 250, 275, 200, 300, 500]

In [37]:
my_list1.index(500)        #checks the index of element

6

In [46]:
my_list1.insert(0, 'this is a list of integers:') #insert the element as per index

In [47]:
my_list1

['this is a list of integers:', 100, 200, 250, 275, 200, 300, 500]

In [48]:
my_list1.pop(0)   #print the removed index, unless will remove the last index (-1)

'this is a list of integers:'

In [51]:
my_list1

['this is a list of integers:', 100, 200, 250, 275, 200, 300, 500]

In [54]:
my_list1.remove('this is a list of integers:') # remove the element provided in the argument

In [55]:
my_list1

[100, 200, 250, 275, 200, 300, 500]

In [56]:
my_list1.reverse()   #reverse the list and elements

In [57]:
my_list1

[500, 300, 200, 275, 250, 200, 100]

In [58]:
my_list1.sort()   #sorts the list

In [59]:
my_list1

[100, 200, 200, 250, 275, 300, 500]

# Tuple
## Example of converting tuple to list

In [64]:
my_tup1 = ('physics', 'chemistry', 1997, 2000)
my_tup2 = (1, 2, 3, 4, 5 )
my_tup3 = ("a", "b", "c", "d")                  # we change the elements in tuple, to change we need to convert into list first

In [65]:
len(my_tup1)

4

In [66]:
len('chemistry')

9

In [69]:
my_tup1 = list(my_tup1)

In [70]:
my_tup1

['physics', 'chemistry', 1997, 2000]

In [71]:
my_tup1.append('This is class schedule')

In [72]:
my_tup1

['physics', 'chemistry', 1997, 2000, 'This is class schedule']

# Set
## Example for all the methods of set

In [76]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}  #integer sets
my_set2 = {'Hello', 2.30, 'PM', 'also', 4, 2.30}  #mixed elements

In [77]:
my_set1   #removes the duplicate and sort the list

{1, 2, 25, 50, 50.5, 100, 105, 125}

In [78]:
my_set1[3]      #indexing not allowed in set

TypeError: 'set' object does not support indexing

In [79]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}
my_set2 = {20, 55, 50.5, 25, 55, 100, 105, 125, 1, 3, 2}

In [81]:
my_set1.add(500)

In [82]:
my_set1

{1, 2, 25, 50, 50.5, 100, 105, 125, 500}

In [84]:
my_set1.clear()

In [85]:
my_set1

set()

In [86]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}

In [87]:
new_set1 = my_set1.copy()  #copying new set

In [88]:
new_set1

{1, 2, 25, 50, 50.5, 100, 105, 125}

In [89]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}

In [90]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}
my_set2 = {20, 55, 50.5, 25, 55, 100, 105, 125, 1, 3, 2}

In [91]:
my_set1.difference(my_set2) #provides the number only present in set1

{50}

In [92]:
my_set2.difference(my_set1) #provides the number only present in set2

{3, 20, 55}

In [93]:
my_set1.difference_update(my_set2)

In [94]:
my_set1

{50}

In [95]:
my_set2.difference_update(my_set1)

In [96]:
my_set2

{1, 2, 3, 20, 25, 50.5, 55, 100, 105, 125}

In [98]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}

In [99]:
my_set1.discard(25)   #discard the element from set

In [100]:
my_set1

{1, 2, 50, 50.5, 100, 105, 125}

In [101]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}

In [102]:
my_set1.intersection(my_set2) #common elements in both sets

{1, 2, 25, 50.5, 100, 105, 125}

In [104]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}

In [105]:
my_set1.intersection_update(my_set2)

In [106]:
my_set1

{1, 2, 25, 50.5, 100, 105, 125}

In [107]:
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}

In [109]:
set1 = {1, 3, 5}
set2 = {2, 4, 6}
my_set1 = {25, 50, 50.5, 25, 50, 100, 105, 125, 1, 2, 2}
my_set2 = {20, 55, 50.5, 25, 55, 100, 105, 125, 1, 3, 2}

In [110]:
set1.isdisjoint(set2)      #set to be disjoint, means no common element in both sets=True

True

In [111]:
my_set1.isdisjoint(my_set2) #set will not disjoint, means there are common element in both sets=False

False

In [112]:
set1 = {1, 3, 5}
set2 = {2, 4, 6}
set3 = {2, 4, 6}

In [113]:
set1.issubset(set2)   #all elements in set1 are not a subset of set2

False

In [114]:
set2.issubset(set3)  #all elements in set1 are a subset of set2

True

In [118]:
set2.pop()

2

In [119]:
set3.pop()

2

In [121]:
set1.remove(1)

In [122]:
set1

{3, 5}

In [124]:
set1 = {1, 3, 5}
set2 = {2, 4, 6}
set3 = {2, 4, 6}

In [125]:
set1.symmetric_difference(set2) # difference of both sets

{1, 2, 3, 4, 5, 6}

In [126]:
set2.symmetric_difference(set3) # returns if no difference

set()

In [127]:
set1.union(set3) #Joins the two sets of distinct elements

{1, 2, 3, 4, 5, 6}

In [128]:
set1.update(my_list1)

In [129]:
set1

{1, 3, 5, 100, 200, 250, 275, 300, 500}

In [130]:
set1 = list(my_tup1)

In [131]:
set1

['physics', 'chemistry', 1997, 2000, 'This is class schedule']

In [133]:
set2.update(my_tup1)

In [134]:
set2

{1997, 2, 2000, 4, 6, 'This is class schedule', 'chemistry', 'physics'}

# Dictionary
## Example for all the methods of dictionary

In [138]:
my_dict1 = {1:"Monday", 2: "Tue", 3:"Wed", 'Name':'Anuj', 'Class':'Python', 'Age':35} #stores the key and values

In [139]:
my_dict1

{1: 'Monday', 2: 'Tue', 3: 'Wed', 'Age': 35, 'Class': 'Python', 'Name': 'Anuj'}

In [142]:
my_dict1['Name']  #keys are unique

'Anuj'

In [143]:
my_dict1[3]

'Wed'

In [144]:
my_dict1.clear()

In [145]:
my_dict1

{}

In [171]:
my_dict1 = {1:"Monday", 2: "Tue", 3:"Wed", 'Name':'Anuj', 'Class':'Python', 'Age':35, 'Pro language':['java','ruby']} 
my_dict2 = {2:'Friday', 'Name': 'xeros'}

In [147]:
my_dict1

{1: 'Monday',
 2: 'Tue',
 3: 'Wed',
 'Age': 35,
 'Class': 'Python',
 'Name': 'Anuj',
 'Pro language': ['java', 'ruby']}

In [151]:
my_dict1.update({'State': 'AZ'})

In [153]:
my_dict1

{1: 'Monday',
 2: 'Tue',
 3: 'Wed',
 'Age': 35,
 'Class': 'Python',
 'Name': 'Anuj',
 'Pro language': ['java', 'ruby'],
 'State': 'AZ'}

In [155]:
my_dict1.fromkeys(my_dict1)

{1: None,
 2: None,
 3: None,
 'Age': None,
 'Class': None,
 'Name': None,
 'Pro language': None,
 'State': None}

In [161]:
my_dict1 = {1:"Monday", 2: "Tue", 3:"Wed", 'Name':'Anuj', 'Class':'Python', 'Age':35, 'Pro language':['java','ruby']}
value = 'Python'

In [162]:
my_dict1.fromkeys(my_dict1, value)

{1: 'Python',
 2: 'Python',
 3: 'Python',
 'Age': 'Python',
 'Class': 'Python',
 'Name': 'Python',
 'Pro language': 'Python'}

In [163]:
my_dict1.get('Name')

'Anuj'

In [165]:
my_dict1.items()

dict_items([(1, 'Monday'), (2, 'Tue'), (3, 'Wed'), ('Name', 'Anuj'), ('Class', 'Python'), ('Age', 35), ('Pro language', ['java', 'ruby'])])

In [166]:
my_dict1.keys()

dict_keys([1, 2, 3, 'Name', 'Class', 'Age', 'Pro language'])

In [168]:
my_dict1.pop('Class')

'Python'

In [169]:
my_dict1.setdefault('Age')

35

In [172]:
my_dict1.update(my_dict2)

In [173]:
my_dict1

{1: 'Monday',
 2: 'Friday',
 3: 'Wed',
 'Age': 35,
 'Class': 'Python',
 'Name': 'xeros',
 'Pro language': ['java', 'ruby']}

In [180]:
new_dictlist = {tuple(my_tup1)}

In [181]:
new_dictlist

{('physics', 'chemistry', 1997, 2000, 'This is class schedule')}

In [187]:
new_dictlist2

{(100, 200, 200, 250, 275, 300, 500)}

In [189]:
new_dictlist3 = set(set1)

In [190]:
new_dictlist3

{1997, 2000, 'This is class schedule', 'chemistry', 'physics'}