### Examples of Lambda expressions

In [3]:
anuj_list = range(20)

In [4]:
[i for i in anuj_list if i >= 10]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
[i for i in anuj_list if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
lm = lambda a:a*a   ##Storing the paramenter

In [13]:
lm(10)

100

In [17]:
lm = lambda a, b: a+b ##passing the two parameters

In [16]:
lm(20, 100)

120

In [20]:
lm = lambda a, b, c: a*b*c ##passing the three parameters

lm(1,2,3)

In [21]:
lm(1,2,3)

6

In [28]:
lm = lambda a: a%2==0 ##Checking the true & false condition

In [29]:
lm(100)

True

### Examples of Filter

In [42]:
anuj_list

range(0, 20)

In [44]:
anuj_list1= filter(lambda a: a%2==0, anuj_list) ## even checking the stored v

In [45]:
list(anuj_list1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
list(anuj_list2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [32]:
anuj_list2 = filter(lambda a: a%2!=0, anuj_list) ##checking the stored v

In [47]:
## filter list of dicts example
anuj_dict = [{'Student_Name': 'Tewatia', 'ID': '203', 'Course': 'Data_Science'}]

In [61]:
anuj_f = filter(lambda a: a['Student_Name'] == 'Tewatia', anuj_dict)

In [64]:
anuj_f

In [65]:
list(anuj_f)

[{'Course': 'Data_Science', 'ID': '203', 'Student_Name': 'Tewatia'}]

In [66]:
anuj_f2 = filter(lambda b: b['ID'] == '203', anuj_dict)

In [67]:
list(anuj_f2)

[{'Course': 'Data_Science', 'ID': '203', 'Student_Name': 'Tewatia'}]

In [68]:
## Dictonary example of names
student_names = ['Anne', 'Amy', 'Bob', 'David', 'Carrie', 'Barbara', 'Zach']

In [72]:
anuj_fd = filter(lambda s: s.startswith('A'),student_names) # example of pulling name starts with a

In [71]:
list(anuj_fd)

['Anne', 'Amy']

In [78]:
anuj_fd1 = filter(lambda e: e.endswith('a'),student_names)

In [79]:
list(anuj_fd1)

['Barbara']

### Examples of MAP

In [126]:
anuj_list = range(5)

In [145]:
map_list = map(lambda a: a*2, anuj_list)

In [146]:
list(map_list)

[0, 2, 4, 6, 8]

In [129]:
def newmap(a):
    return(a*2)

In [130]:
map_list2 = map(newmap, anuj_list)

In [131]:
list(map_list2)

[0, 2, 4, 6, 8]

In [135]:
def deduction(n):
    return n*n

In [136]:
num_list = (10,20,30,52, 62)

In [137]:
num_list1 = map(deduction, num_list)

In [138]:
print(num_list1)

<map object at 0x0000027B7EC90B00>

In [139]:
list(num_list1)

[100, 400, 900, 2704, 3844]

In [140]:
def new(n):
    return n*n and n+n

In [141]:
num_list2 = map(new, num_list)

In [142]:
list(num_list2)

[20, 40, 60, 104, 124]

In [160]:
def sqr(x):   #square root example
    return x**2

In [171]:
sqr_list = map(sqr, anuj_list)

In [172]:
list(sqr_list)

[0, 1, 4, 9, 16]

In [214]:
a = [{'First:', 'Last'}]  # Example of dictionary mapping
b = [{'Anuj:', 'Tewatia'}]

In [215]:
def student_name(First, Last):
    return("Anuj", "Tewatia")

In [216]:
nam = map(student_name, a, b)

In [217]:
list(nam)

[('Anuj', 'Tewatia')]

In [218]:
map_list = range(10)

In [232]:
def mult_function(x):
    return(x*x)

In [233]:
map_mult = map(mult_function, map_list)

In [234]:
list(map_mult)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [249]:
# defining multiple arguments
def mult1(x):
    y=x*x
    return(y+y)

In [250]:
map_1 = map(mult1, map_list)

In [251]:
list(map_1)

[0, 2, 8, 18, 32, 50, 72, 98, 128, 162]