# VariableDeclare

In [3]:
a = 100VariableDeclare

In [4]:
print (a)

100

In [5]:
a = "Hello Python"

In [6]:
a

'Hello Python'

In [7]:
a ="python"
b = 99

In [12]:
print(a+str(b))

python99

In [13]:
c = 100
print (c)

100

In [27]:
# Declare a variable and initialize it
f = 101
print (f)
# Global vs. local variables in functions
def someFunction():
# global f
    f = 'I am learning Python'
    print (f)
someFunction()
print (f)

101
I am learning Python
101

# slicing

In [42]:
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
my_list1[2:6]

[3, 4, 5, 6]

In [31]:
print(my_list1[1:4])

[2, 3, 4]

In [32]:
print(my_list1[-2])

4

In [34]:
my_list1[:2]

[1, 2]

In [35]:
my_list1[:4]

[1, 2, 3, 4]

In [36]:
my_list1[2:]

[3, 4, 5]

In [38]:
my_list1[1:]

[2, 3, 4, 5]

In [39]:
my_list1[:4]

[1, 2, 3, 4]

In [40]:
my_list1[4:]

[5]

In [45]:
my_list1[2:]

[3, 4, 5, 6, 7, 8]

In [46]:
#first two numbers
my_list1[:2]

[1, 2]

In [47]:
my_list1[1:4:2]

[2, 4]

In [48]:
my_list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
#increment by 2
my_list1[1:7:2]

[2, 4, 6]

In [50]:
#increment by 2
my_list1[1:8:2]

[2, 4, 6, 8]

In [51]:
#reverse
my_list1[::-2]

[8, 6, 4, 2]

In [52]:
my_list1[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

In [54]:
print(list1)
print(list2)
print(list3)

['physics', 'chemistry', 1997, 2000]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

## listAppend

In [55]:
list1.append(2)

In [56]:
print(list1)

['physics', 'chemistry', 1997, 2000, 2]

In [57]:
list1[4] = 2005

In [58]:
print(list1)

['physics', 'chemistry', 1997, 2000, 2005]

## listClear

In [60]:
list = [{1, 2}, ('a'), ['1.1', '2.2']]

In [61]:
list

[{1, 2}, 'a', ['1.1', '2.2']]

In [62]:
list.clear()

In [63]:
print(list)

[]

## listCopy

In [64]:
old_list = [1, 2, 3, 5, 8, 9]
new_list = old_list

In [65]:
print(new_list)

[1, 2, 3, 5, 8, 9]

In [66]:
new_list.append('this is a copy')

In [67]:
print(new_list)

[1, 2, 3, 5, 8, 9, 'this is a copy']

## listCount

In [69]:
list1.count('chemistry')

1

In [70]:
newlist = [2, 5, 3, 2, 5, 3, 9, 0, 0, 8, 2]

In [71]:
newlist.count(2)

3

## listExtend

In [72]:
list1.extend(list2)

In [73]:
print(list1)

['physics', 'chemistry', 1997, 2000, 2005, 1, 2, 3, 4, 5]

## listIndex/insert

In [75]:
list1.index(2005)

4

In [77]:
list1.index(4)

8

In [78]:
list1.insert(2, 'maths')

In [79]:
list1

['physics', 'chemistry', 'maths', 1997, 2000, 2005, 1, 2, 3, 4, 5]

## listPop

In [80]:
list1.pop()

5

In [81]:
list1

['physics', 'chemistry', 'maths', 1997, 2000, 2005, 1, 2, 3, 4]

In [83]:
list1.insert(9, 100)

In [84]:
list1

['physics', 'chemistry', 'maths', 1997, 2000, 2005, 1, 2, 3, 100, 4]

In [85]:
list1.pop(9)

100

In [86]:
list1

['physics', 'chemistry', 'maths', 1997, 2000, 2005, 1, 2, 3, 4]

In [90]:
list1.remove(3)

In [91]:
list1

['physics', 'chemistry', 'maths', 1997, 2000, 2005, 1, 2, 4]

In [92]:
list1.reverse()

In [93]:
list1

[4, 2, 1, 2005, 2000, 1997, 'maths', 'chemistry', 'physics']

In [94]:
## tupple
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";

In [95]:
tup1
tup2
tup3

('a', 'b', 'c', 'd')

In [96]:
tup1

('physics', 'chemistry', 1997, 2000)

In [97]:
tup2[2:4]

(3, 4)